@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,100&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


header {
  margin-top: 45px;
  margin-left: 40px;

}

.link-menu {

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.875px;
  text-align: center;
  margin-right: 35px;
}

.click-aqui {
  background-color: chartreuse;
  border-radius: 5px;
  width: 124px;
  font-size: 20px;
  height: 55px;
  color: black;
  border: none;
  font-weight: 500;
  font-size: 20px;
}


img {
  margin: 163px 0 0 123px;
  display: inline-block;

}

div {
  display:  inline-block;
  margin-left: 75px;
  width: 493px;
}


h1 {

  font-size: 62px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: 0.5px;
  color: coral;
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 2px;
  color: black;
  margin-top: 55px;
  margin-bottom: 45px;
 
 
}

.meu-botao {
  
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 1px;
  color: chartreuse;
  background: transparent;
  border: none;
  

}